//== Grid build
//@include griddle-build(2 3 4 8);

body {
    font-family: $font-family;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: #000000;
    font-weight: 300;
    background-color: red;
}

body.home {
    background-image: url(../img/home_achtergrond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    transition: all 0.3s;
    -webkit-transition: all 0.3s
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
    content:" ";
    display:table;
}

.clearfix:after,
.container:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
    clear:both;
}

.img-responsive {
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
}

.img-right {
    width:100%;
    max-width:100%;
    @include breakpoint($screen-xs) {
        float: right;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: auto;
        max-width: auto;
    }
}

.img-left {
    width:100%;
    max-width:100%;
    @include breakpoint($screen-xs) {
        float: left;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: auto;
        max-width: auto;
    }
}

h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
}

h2 {
    font-weight: 600;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-bottom: -15px;
}

h3 {
    font-weight: 400;
    font-size: $font-size-sm;
    margin-bottom: -15px;
}

p {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
}

p.intro {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: 400;
}

a {
    color: #6495ed;
}

strong a {
    text-decoration: none;
}

ul {
    padding-left: 20px;
}

.home__item {
    display:none;

    @include breakpoint($screen-sm) {
        display:block;
    }
}

.home header {
    .header__wrapper {
        margin: 0;

        @include breakpoint($screen-sm) {
            margin: 20px 10px;
        }
    }
}
header {
    .header__wrapper {
        background-color:#FFF;
        margin: 0 -15px;

        @include breakpoint($screen-sm) {
            margin: 20px 10px;
        }
    }

    .payoff {
        display: none;

        @include breakpoint($screen-xs) {
            float:right;
            text-align:right;
            color:#6495ED;
            font-size: 28px;
            font-style: italic;
            line-height: 28px;
            font-weight: 100;
            padding: 10px 10px 20px 10px;
            display: block;
        }

        @include breakpoint($screen-sm) {
            padding: 20px 30px 20px 30px;
            font-size: 28px;
        }
    }

}

.logo {
    float:left;
    padding: 10px 0 20px 10px;
    height: 40px;

    @include breakpoint($screen-xs) {
        padding: 10px 10px 20px 10px;
        height: auto;
    }

    @include breakpoint($screen-sm) {
        padding: 20px 30px 20px 30px;
    }

    img {
        height:50px;

        @media (min-width: $screen-sm) {
            height:auto;
        }
    }

}

footer {
    color:#6495ed;
    margin-top: 20px;
    height: 40px;
    overflow: hidden;

    @include breakpoint($screen-sm) {
        height: inherit;
        overflow: visible;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .btn-social {
        a {
            display: block;
            width: 50px;
            height: 40px;
        }
    }

    .payoff {
        visibility: hidden;
        overflow: hidden;

        @include breakpoint($screen-sm) {
            visibility: visible;
            font-size: 16px;
            text-align:right;
            font-style:italic;
            background-color: #ffffff;
            padding: 0 10px 5px 0;
            vertical-align: bottom;
        }
    }

}

.btn-home {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    position: relative;

    @include breakpoint($screen-xs) {
        height: 250px;
    }

    @include breakpoint($screen-sm) {
        height: 500px;
    }

    h2 {
        text-align: left;
        padding: 20px;
        font-size: $font-size-md;
        margin: 0;
        text-transform: uppercase;

        @include breakpoint($screen-sm) {
            text-align: center;
            padding: 20px 0;
        }

        @include breakpoint($screen-md) {
            padding: 30px 0;
        }

    }

    p {
        padding: 0 20px;
        margin: 0;
        font-weight: 100;

        @include breakpoint($screen-sm) {
            margin: 20px 0;
        }
    }

    .btn-home__info {
        position: absolute;
        bottom: 10px;
        left: 0;
        font-style: italic;
    }

    .btn-more {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        padding: 10px 20px;
        margin: 0 0 10px 0;
        display: block;

        .icon-next {
            float: right;
            margin-top: 5px;
        }
    }

    @include breakpoint($screen-sm $screen-md) {
        .grid__cell & {
            margin-bottom: 20px;
        }
    }
}

.btn-home.innovatie .btn-more {
    margin: 0;
    &:nth-child(odd) {
        background-color: lighten($color-04, 10);
    }

    @include breakpoint($screen-sm) {
        &:nth-child(even) {
            background-color: lighten($color-04, 10);
        }
        &:nth-child(odd) {
            background-color: inherit;
        }
    }
}

.home .btn-home.ouderen {
    background-color:$color-01;

    &:hover {
        background-color:darken($color-01, 5);
        transition: all 1s;
    }
}

.home .btn-home.jeugd  {
    background-color:$color-02;

    &:hover {
        background-color:darken($color-02, 5);
        transition: all 1s;
    }
}

.home .btn-home.over {
    background-color:$color-03;

    &:hover {
        background-color:darken($color-03, 5);
        transition: all 1s;
    }
}

.home .btn-home.innovatie {
    background-color:$color-04;

    &:hover {
        background-color:darken($color-04, 5);
        transition: all 1s;
    }
}

.navHome {
    a:hover, a.active, &.dropdown.open a.dropdown-toggle {
        background-color:#C89542; color:#FFFFFF;
    }
}
.navOuderen {
    a:hover, a.active, &.dropdown.open a.dropdown-toggle {
        background-color:$color-01; color:#FFFFFF;
    }
}
.navJeugd {
    a:hover, a.active, &.dropdown.open a.dropdown-toggle {
        background-color:$color-02; color:#FFFFFF;
    }
}
.navOver {
    a:hover, a.active, &.dropdown.open a.dropdown-toggle {
        background-color:$color-03; color:#FFFFFF;
    }
}
.navInnovatie {
    a:hover, a.active, &.dropdown.open a.dropdown-toggle {
        background-color:$color-04; color:#FFFFFF;
    }
}

.quote {
    h2 {
        line-height: $line-height-md;
        margin-top: 10px;
    }
    p {
        line-height: $line-height-md;
        font-style: italic;
        margin-bottom: 10px;
    }
}

.ouderen {
    h1 {
        color: $color-01;
    }

    .quote {
        padding: 20px;
        display: block;
        background-color: rgba($color-01, 0.1);

        h2 {
            color: $color-01;
        }
    }
}

.jeugd {
    h1 {
        color: $color-02;
    }

    .quote {
        padding: 20px;
        display: block;
        background-color: rgba($color-02, 0.1);

        h2 {
            color: $color-02;
        }
    }
}

.over {
    h1 {
        color: $color-03;
    }

    .quote {
        padding: 20px;
        display: block;
        background-color: rgba($color-03, 0.1);

        h2 {
            color: $color-03;
        }
    }
}

.innovatie {
    h1 {
        color: $color-04;
    }

    .quote {
        padding: 20px;
        display: block;
        background-color: rgba($color-04, 0.1);

        h2 {
            color: $color-04;
        }
    }
}

.col-md-5.image {
    width: 40%;
    float: right;
    margin-bottom: 10px;
}

.home__item figure {
    overflow: hidden;
    width: auto;
    margin: 0;
}

.home__item img {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.home .btn-home:hover > .home__item img, .home__item:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.home__more {
    width: 100%;

    @include breakpoint($screen-sm) {
        position: absolute;
        bottom: 0;
    }
}

@include breakpoint($screen-sm) {
    .col-md-3 { width:25%; float:left}
    .col-md-5.image {width: 40%; float: right; margin-bottom: 10px;}
    .over .navbar-header,.ouderen .navbar-header,.jeugd .navbar-header,.innovatie .navbar-header {border-bottom: none}
}

@include breakpoint($screen-md) {
    .col-md-3 { width:25%}
    .col-md-5.image {width: 41.66666667%; float: left; margin-bottom: 0;}
}

.main__content {
    @include breakpoint($screen-sm) {
        padding-right: 30px;
    }
}
